[22,27,16,2,18,6] -> Insertion Sort

Yukarı verilen dizinin sort türüne göre aşamalarını yazınız.

> min=2 -> swap 2 and 22 -> [2, | 27, 16, 22, 18, 6]

> min=6 -> swap 27 and 6 -> [2, 6, | 16, 22, 18, 27]

> min=16 -> no need to swap -> [2, 6, 16, | 22, 18, 27]

> min=18 -> swap 18 and 22 -> [2, 6 16 18 ,22, 27]

Big-O gösterimini yazınız.

Step 1 -> n

Step 2 -> n-1

Step 3 -> n-2
....

Step n-1 -> 1

> (n^2 + n)/2

Time Complexity: Dizi sıralandıktan sonra 18 sayısı aşağıdaki case'lerden hangisinin kapsamına girer? Yazınız

Average case: Aradığımız sayının ortada olması
Worst case: Aradığımız sayının sonda olması
Best case: Aradığımız sayının dizinin en başında olması.

>Worst case

[7,3,5,8,2,9,4,15,6] dizisinin Selection Sort'a göre ilk 4 adımını yazınız.

> min=2 -> swap 2 and 7 -> [2, | 3, 5, 8, 7, 9, 4, 15, 6]

> min=3 -> no need to swap [2, 3, | 5, 8, 7, 9, 4, 15, 6]

> min=4 -> swap 4 and 5 -> [2, 3, 4, | 8, 7, 9, 5, 15, 6]

> min=5 -> swap 5 and 8 -> [2, 3, 4, 5, | 7, 9, 8, 15, 6]